@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
  
  body {
    @apply bg-brand-black text-brand-offwhite font-cormorant;
  }

  h1, h2, h3 {
    @apply font-cinzel;
  }

  nav a, button, .subheading {
    @apply font-josefin;
  }
}

@layer utilities {
  .text-gold-400 {
    color: #ac925e;
  }

  @keyframes float {
    0% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(-20px);
    }
    100% {
      transform: translateY(0px);
    }
  }

  .animate-float-slow {
    animation: float 6s ease-in-out infinite;
  }
}